# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Docker
.env
*.log
docker-compose.override.yml
.docker/

# Node / Build
node_modules/
dist/
build/
*.cache

# Temporary files
*.tmp
*.temp

# GitHub Pages
_site/